[Unit]
Description=Prometheus Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/opt/prometheus/bin/alertmanager \
    --config.file /opt/prometheus/conf/alertmanager.yml \
    --cluster.listen-address '0.0.0.0:9094' \
    --web.listen-address '0.0.0.0:9093' \
    --storage.path /opt/prometheus/data/alertmanager/

[Install]
WantedBy=multi-user.target
